.section_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.section_intro h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0;
}
div, h2{
    display: flex;
    justify-content: center;
}
h2{
    width: 50%;
    color: gray;
    margin:  0;
}


.boton1 { 
    background-color: #ff4b63;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    transition: all 1s ease;
    border: none;
}